* {
	margin: 0;
	padding: 0;
}

body {
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
}

/* SIDE BAR*/
.side-navbar {
	height: 100%;
	width: 248px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #000;
	overflow-x: hidden;
	padding-top: 20px;
	border-right: 3px solid #696969;
}

.side-navbar a {
	padding: 50px 10px 10px 50px;
	text-decoration: none;
	font-size: 18px;
	display: block;
	text-transform: uppercase;
	color: #fff;
}

.side-navbar a:hover {
	color: teal;
	text-decoration: none;
}

/*PÃGINA INGRESSO*/
.container {
	width: 100%;
	letter-spacing: 1px;
	margin-left: 300px;
}

.text h2 {
	font-family: 'Open Sans', sans-serif;
	color: black;
	width: 200px;
	font-size: 40px;
	padding: 5px;
	margin-left: 300px;
	margin-top: 40px;
}

.row {
	margin-top: -110px;
	margin-bottom: 100px;
}

img {
	width: 70%;
	margin-top: 200px;
}

.product-bottom h3 {
	font-size: 20px;
	font-weight: bold;
	margin-right: 70px;
}

.product-bottom h5 {
	font-size: 15px;
	padding-bottom: 10px;
	margin-right: 70px;
}

.overlay .btn-secondary {
	background: black;
	font-family: 'Open Sans', sans-serif;
}

.col-md-3 {
	margin-left: 280px;
}

/*FUNDO DESFOCADO AO APARECER O  SWAL*/

body.swal2-shown>[aria-hidden="true"] {
	filter: blur(10px);
}

body>* {
	transition: 0.1s filter linear;
}


/*FOOTER*/
.sticky-footer {
	position: sticky;
	margin-top: 200px;
}

.footer footer p {
	padding: 0;
	font-size: 0.8em;
	color: hsla(0, 50%, 100%, 0.35);
	margin: 1em 0;
	font-size: 1rem;
	margin-left: 0px;
}

.footer footer ul {
	list-style: none;
	display: flex;
	margin: 1em 0;
}

.footer footer ul li a {
	padding: 1rem;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.904);
	transition: 50ms;
}

.footer footer a:hover {
	color: teal;
	transition: 0.5s;
}

.footer footer {
	width: 100%;
	background: black;
	color: #fff;
	display: grid;
	place-items: center;
	padding: 2em;
	font-size: 1.2rem;
}

/*BOTOES FOOTER*/
.bn632-hover {
	width: 160px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	margin: 20px;
	height: 55px;
	text-align: center;
	border: none;
	background-size: 300% 100%;
	border-radius: 50px;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.bn632-hover:hover {
	background-position: 100% 0;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.bn632-hover:focus {
	outline: none;
}

.bn632-hover.bn24 {
	background-image: linear-gradient(to right, #6253e1, #852d91, #a3a1ff, #f24645);
	box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.buttons {
	margin: 10%;
	text-align: center;
}

.btn-hover {
	width: 200px;
	font-size: 16px;
	font-weight: 600;
	color: blue;
	cursor: pointer;
	margin: 20px;
	height: 55px;
	text-align: center;
	border: none;
	background-size: 300% 100%;
	border-radius: 50px;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.btn-hover:hover {
	color: blue;
}

.btn-hover.color-3 {
	color: black;
}

/*POPUP*/
.popup .overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
	display: none;
}

.popup .content {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background: white;
	width: 1100px;
	height: 400px;
	z-index: 1;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 20px;
	margin-top: 200px;
}

#popup-1 .content {
	left: 53%;
}

#popup-3 .content {
	position: absolute;
	top: 35%;
	width: 600px;
	height: 490px;
	border-radius: 20px;
	z-index: 2;
}

.popup .close-btn {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
	background: #222;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
}

.popup #popup-3 .close-btn {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
	background: #222;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
}

.popup.active .overlay {
	display: block;
}

.popup.active .content {
	transition: all 800ms ease-in-out;
	transform: translate(-50%, -50%) scale(1);
}

/*FAQS*/
.container-fluid {
	width: 40%;
	margin: 0 auto;
	margin-top: 100px;
}

.container-fluid h2 {
	color: hotpink;
	position: relative;
	width: 23rem;
}

.container-fluid h2::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 12px;
	width: 67px;
	height: 2px;
	background-color: hotpink;
}

.accordion {
	width: 100%;
	padding: 0 5px;
	border: 2px solid #000000;
	cursor: pointer;
	border-radius: 50px;
	display: flex;
	margin: 10px 0;
	align-items: center;
}

.accordion .icon {
	margin: 0 10px 0 0;
	width: 30px;
	height: 30px;
	background: url(images/toggle-bg.png) no-repeat 8px 7px #000000;
	border-radius: 50%;
	float: left;
	transition: all 0s ease-in;
}

.active {
	background-color: #6db5ff;
	color: rgb(0, 0, 0);
}

.active h5 {
	color: rgb(0, 0, 0);
}

.panel {
	padding: 0 15px;
	border-left: 1px solid #000000;
	margin-left: 25px;
	font-size: 14px;
	text-align: justify;
	overflow: hidden;
	max-height: 0;
	transition: all .25s ease-in;
}

/*CONTATO*/
h3 {
	color: white;
}

.container {
	position: relative;
	width: 1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 215px;
	margin-top: 90px;
	margin-left: -20px;
}

.container .box {
	position: relative;
	width: 250px;
	height: 250px;
	margin: 30px;
	background: #bf70ff;
	box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	margin-top: -20px;
}

.container .box .imgBx {
	position: absolute;
	top: -70px;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	transition-delay: 0.5s;
}

.container .box:hover .imgBx {
	transform: scale(0);
	transition-delay: 0s;
}

.container .box .imgBx img {
	max-width: 100px;
}

.container .box .content {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	transition: 0.5s;
	background: #ff3579;
	transform: scale(0);
	transition-delay: 0s;
	margin-top: 0px;
}

.container .box:hover .content {
	transform: scale(1);
	transition-delay: 0.5s;
}

.container .box:nth-child(2) .content {
	background: #2ba1ff;
}

.container .box:nth-child(3) .content {
	background: #c630e0;
}

.container .box .content .icon img {
	margin-top: -20px;
	max-width: 80px;
	filter: invert(1);
}

.container .box .content h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
	margin-top: 20px;
}

.container .box .content h4 {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}